<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>911049740510-g02jjbm3gjgv7rgatgh3n8dsbvniin2r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.911049740510-g02jjbm3gjgv7rgatgh3n8dsbvniin2r</string>
	<key>API_KEY</key>
	<string>AIzaSyDGbN8fmIHRHz1c_Fzwdh1WFvgRoWGY4Po</string>
	<key>GCM_SENDER_ID</key>
	<string>911049740510</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.likhitgarimella.Agro</string>
	<key>PROJECT_ID</key>
	<string>agro12</string>
	<key>STORAGE_BUCKET</key>
	<string>agro12.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:911049740510:ios:e8cbd8fa1a46e46bab324f</string>
	<key>DATABASE_URL</key>
	<string>https://agro12.firebaseio.com</string>
</dict>
</plist>